.App {
  text-align: left;
}

.App-logo {
  height: 12vmin;
  padding-left: 50px;
}

.App-wallet {
  height: 40px;
  width: 100px;
}

.Menu-bar {
  min-height: fit-content;
  min-width: 100%;
  font-size: calc(10px + 2vmin);
  color: black;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.Vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Search-bar {
  position: relative;
  height: 60px;
  padding: 20px;
}

.Search-input {
  width: 140%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  background-image: url('./search-icon.svg');
  background-position: 2px 2px; 
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 10px 10px 50px;
}

.Asset-div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.Asset-table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1pt solid black;
}

.Asset-table-row {
  border-bottom: 1pt solid black;
}

.Asset-table-d {
  padding:10px;
}

.Asset-main-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40%;
  min-height: 60%;
  border-radius: 20px;
  border: 2px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
