.App {
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.dialog-wrapper {
  display: inline-block;
  position: relative;
}

dialog {
  position: absolute;
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.App-logo {
  height: 12vmin;
  padding-left: 50px;
}

.App-wallet {
  height: 40px;
  width: 100px;
}

.Menu-bar {
  min-height: fit-content;
  min-width: 100%;
  font-size: calc(10px + 2vmin);
  color: black;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  align-items: center;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.Vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.Search-bar {
  padding: 20px;
  box-sizing: border-box;
  min-height: fit-content;
  width:100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.Search-input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  background-image: url('./icon-search.svg'); 
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 10px 10px 50px;
}

.Wallet-button{
  border: 3px solid black;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  transition: background-color 0.25s ease-out;
}

.Wallet-button:hover {
  background-color: #99c6f6;
}

.Add-button {
  box-sizing: border-box;
  border: 2px solid black;
  background-color: white;
  border-radius: 8px;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  transition: background-color 0.25s ease-out;
}

.Add-button:hover {
  background-color: #99c6f6;
}

.Settings-button {
  background-color: white;
  border: 0px;
  cursor: pointer;

}

.Asset-div {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.Asset-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1pt solid black;
}

.Asset-table-head {
  border-bottom: 1pt solid black;
}

.Asset-table-row {
  border-bottom: 1pt solid black;
  cursor: pointer;
  transition: background-color 0.25s ease-out;
}

.Asset-table-row:hover {
  background-color: #e5f1ff;
}

.Asset-table-d {
  padding:10px;
}

.Asset-table-link {
  padding:10px;
}

.Asset-main-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40%;
  min-height: 60vh;
  height: fit-content;
  border-radius: 20px;
  border: 2px solid black;
}

.mr-0 {
  margin-right: 0px;
}
.mr-60 {
  margin-right: 60px;
}
.ml-auto {
  margin-left:auto;
}
.d-block {
  display:block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
